<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="card">
    <article class="card-body">
      <a href="/users/sign_in" class="float-right btn btn-outline-primary">Sign in</a>
      <h4 class="card-title mb-4 mt-1">Sign up </h4>
      <form>
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div> <!-- form-group// -->
        <div class="form-group">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div> <!-- form-group// -->
        <div class="form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %> <!-- checkbox .// -->
        </div> <!-- form-group// -->
        <div class="form-group">
          <%= f.submit "Sign up", class: "btn btn-primary btn-block"%>
        </div>
      </form>
    </article>
  </div>
<% end %>


