<!-- app/views/questions/create.html.erb -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./style.css">
  <script src="https://kit.fontawesome.com/e3b0160650.js" crossorigin="anonymous"></script>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <title>ChatGpt</title>
</head>

<body id="my-body">
<div class="lateral">
  <a href="/" class="myButton">
    <i class="fa fa-plus"></i> New Chat
  </a>
  <% @chats.each do |chat| %>
    <a><%= link_to chat.descricao, home_show_path(chat), method: :show, class: "myButton"%></a>
  <% end %>
  <div class = "perguntas"></div>
  <div class="logar">
    <a href="/users/sign_in" class="entrar">
      <i class="fa fa-user"></i> Login
    </a>
    <%= button_to "Log Out", destroy_user_session_path, method: :delete, class: "sair"%>
  </div>
</div>
<div class="meucontainer">
  <div class="titulo">
    <h1>ChatGPT</h1>
  </div>

  <div class="aplica">

    <div class="chat_area">
      <ul class="list-unstyled">
        <li class="left clearfix">
          <div class="chat-body1 clearfix">
            <div><p><%= @chat.descricao %></p></div>
          </div>
        </li>
        <li class="left clearfix admin_chat">
          <div class="chat-body1 clearfix">
            <div><% if @chat.response.present? %>
                <img src="<%= @chat.response %>" alt="Cat Image">
              <% end %></div>
          </div>
        </li>
        <% @mensagens.each do |mensagem| %>
          <li class="left clearfix">
            <div class="chat-body1 clearfix">
              <div><p><%= mensagem.question %></p></div>
            </div>
          </li>
          <li class="left clearfix admin_chat">
            <div class="chat-body1 clearfix">
              <div>
                  <img src="<%= mensagem.response %>" alt="Cat Image">
              </div>
            </div>
          </li>
        <% end %>

      </ul>
    </div>

    <%= form_tag home_show_path(@chat), class: "my-formulario" , method: :get do %>
      <div class="formulario-row">
        <%= text_field_tag :question, nil, class: "my-texto", placeholder: "Digite sua pergunta" %>
        <%= button_tag type: "submit", class: "envia" do %>
          <%= image_tag "https://cdn-icons-png.flaticon.com/128/9293/9293734.png", alt: "Enviar", class: "my-img" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <script type="module" src="script.js"></script>
</div>
</body>

</html>
